{
  "openapi": "3.0.0",
  "info": {
    "title": "SubVerse API reference",
    "description": "Detailed guide on how to use the SubVerse APIs",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.subverseai.com/api"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/call/trigger": {
      "post": {
        "description": "Directly trigger a call without workflow",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DirectTriggerCall"
              },
              "examples": {
                "ValidRequest": {
                  "summary": "Example of trigger workflow call",
                  "value": {
                    "phoneNumber": "+912298765432",
                    "metadata": {
                      "email": "johndoe@subverseai.com",
                      "name": "John Doe",
                      "id": "JD75816540"
                    },
                    "agentNumber": "+912298765432",
                    "agentName": "test_case",
                    "agentVersion": "default",
                    "options": {
                      "transcriptLanguage": "hi",
                      "allowedOverallInterruptions": "True",
                      "allowedInterruptionsInitially": "False",
                      "ttsLanguage": "hi",
                      "voiceId": "IvLWq57RKibBrqZGpQrC",
                      "speed": "2",
                      "transferNumber": "+912298765432",
                      "communicationMethod": "two_way",
                      "dtmfEnabled": "False",
                      "initialMessage": "Hi, ${name} how can I assist you today?",
                      "additionalContext": "The caller is asking about a refund request submitted yesterday."
                    },
                    "noOfRetries": 1,
                    "retryAfterHours": 1,
                    "startWorkingHour": "09:00",
                    "endWorkingHour": "20:00",
                    "timezone": "Asia/Kolkata",
                    "callPriority": 3,
                    "callOnDate": "2025-08-08",
                    "scheduleTime": "2025-08-08T08:14:57Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns error or success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "200 success": {
                    "summary": "200 - Call triggered successfully",
                    "value": {
                      "responseCode": 200,
                      "message": "Call triggered successfully",
                      "data": {
                        "callId": "1234"
                      }
                    }
                  },
                  "400 error": {
                    "summary": "400 - Phone number error",
                    "value": {
                      "responseCode": 400,
                      "message": "Phone number is required",
                      "data": null
                    }
                  },
                  "401 error": {
                    "summary": "401 - Api key is missing error",
                    "value": {
                      "responseCode": 401,
                      "message": "Api key is missing",
                      "data": null
                    }
                  },
                  "404 error": {
                    "summary": "404 - Bot number error",
                    "value": {
                      "responseCode": 404,
                      "message": "Bot number is required",
                      "data": null
                    }
                  },
                  "500 error": {
                    "summary": "500 - Internal server error",
                    "value": {
                      "responseCode": 500,
                      "message": "Internal server error",
                      "data": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/call/cancel/{callId}": {
      "put": {
        "summary": "Cancel a queued outbound call",
        "description": "Cancels an outbound call that is still queued. Only calls whose call status is `call_in_queue` can be canceled. Removes the pending queued calls and updates call status to canceled.",
        "parameters": [
          {
            "name": "callId",
            "in": "path",
            "description": "unique call identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call canceled successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "200 success": {
                    "summary": "200 - Call canceled successfully",
                    "value": {
                      "responseCode": 200,
                      "message": "Call canceled successfully!",
                      "data": {
                        "removedJobs": 1
                      }
                    }
                  },
                  "400 missing-call-id": {
                    "summary": "400 - Call ID missing",
                    "value": {
                      "responseCode": 400,
                      "message": "Call id missing",
                      "data": null
                    }
                  },
                  "400 call-not-found": {
                    "summary": "400 - Call does not exist for this company",
                    "value": {
                      "responseCode": 400,
                      "message": "User call not found.",
                      "data": null
                    }
                  },
                  "400 not-in-queue": {
                    "summary": "400 - Call cannot be canceled anymore",
                    "value": {
                      "responseCode": 400,
                      "message": "This call cannot be canceled as it is no longer in queue.",
                      "data": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/call/signed-recording-url": {
      "get": {
        "summary": "Generate a secure, time-limited signed URL for a call recording.",
        "description": "Generates a secure, time-limited pre-signed URL to access a call recording. The generated link is temporary to ensure data security and prevent unauthorized access. You must provide either 'callId' or 'callRecordingUrl' in the query parameters.",
        "operationId": "getSignedRecordingUrl",
        "parameters": [
          {
            "name": "callId",
            "in": "query",
            "description": "Unique identifier for the call.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "12345"
            }
          },
          {
            "name": "callRecordingUrl",
            "in": "query",
            "description": "A direct S3/Storage URL to a call recording.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "https://s3.amazonaws.com/bucket/recording.mp3"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns error or success Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "success": {
                    "summary": "200 - Success response",
                    "value": {
                      "responseCode": 200,
                      "message": "Signed url generated successfully!",
                      "data": {
                        "url": "https://example.com/recording.mp3?token=..."
                      }
                    }
                  },
                  "apiMissing": {
                    "summary": "401 - Unauthorized (API key is missing).",
                    "value": {
                      "responseCode": 401,
                      "message": "API key missing!",
                      "data": null
                    }
                  },
                  "callIdRequiredError": {
                    "summary": "400 - Validation error (Missing required parameters).",
                    "value": {
                      "responseCode": 400,
                      "message": "Validation error: Either callId or callRecordingUrl is required",
                      "data": null
                    }
                  },
                  "callNotFound": {
                    "summary": "404 - Call record not found.",
                    "value": {
                      "responseCode": 404,
                      "message": "No call record found, Please contact administrator.",
                      "data": null
                    }
                  },
                  "internalServerError": {
                    "summary": "500 - Internal server error",
                    "value": {
                      "responseCode": 500,
                      "message": "Internal server error!",
                      "data": null
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "Call"
        ]
      }
    },
    "/workflow/call/{workflowId}": {
      "post": {
        "description": "Trigger a call in the workflow",
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "description": "Unique identifier of the workflow.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowTriggerCall"
              },
              "examples": {
                "ValidRequest": {
                  "summary": "Example of trigger workflow call",
                  "value": {
                    "customer_number": "+912298765432",
                    "customer_details": {
                      "email": "johndoe@subverseai.com",
                      "name": "John Doe",
                      "id": "JD75816540"
                    },
                    "bot_number": "+912298765432",
                    "use_case": "test_case",
                    "agent_version": 2,
                    "schedule_time": "2025-01-22T08:14:57Z",
                    "options": {
                      "transcriptLanguage": "hi",
                      "allowedOverallInterruptions": "True",
                      "allowedInterruptionsInitially": "False",
                      "ttsLanguage": "hi",
                      "voiceId": "IvLWq57RKibBrqZGpQrC",
                      "speed": "2",
                      "transferNumber": "+912298765432",
                      "communicationMethod": "two_way",
                      "dtmfEnabled": "False",
                      "initialMessage": "Hi, ${name} how can I assist you today?",
                      "additionalContext": "The caller is asking about a refund request submitted yesterday."
                    },
                    "no_of_retries": 1,
                    "retry_after_in_hrs": 1,
                    "start_working_hour": "09:00",
                    "end_working_hour": "20:00",
                    "timezone": "Asia/Kolkata",
                    "call_priority": 3,
                    "call_on_date": "2025-01-22"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns error or success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "200 success": {
                    "summary": "200 - Workflow call triggered successfully",
                    "value": {
                      "responseCode": 200,
                      "message": "Workflow call triggered successfully",
                      "data": null
                    }
                  },
                  "400 error": {
                    "summary": "400 - Workflow ID required error",
                    "value": {
                      "responseCode": 400,
                      "message": "Workflow id is required",
                      "data": null
                    }
                  },
                  "401 error": {
                    "summary": "401 - Api key is missing error",
                    "value": {
                      "responseCode": 401,
                      "message": "Api key is missing",
                      "data": null
                    }
                  },
                  "404 error": {
                    "summary": "404 - Workflow not found error",
                    "value": {
                      "responseCode": 404,
                      "message": "Workflow not found",
                      "data": null
                    }
                  },
                  "500 error": {
                    "summary": "500 - Internal server error",
                    "value": {
                      "responseCode": 500,
                      "message": "Internal server error",
                      "data": null
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Edit details of the call still in queue",
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "description": "Unique identifier of the workflow.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowTriggerCall"
              },
              "examples": {
                "ValidRequest": {
                  "summary": "Example of trigger workflow call",
                  "value": {
                    "customer_number": "+912298765432",
                    "customer_details": {
                      "email": "johndoe@subverseai.com",
                      "name": "John Doe",
                      "id": "JD75816540"
                    },
                    "bot_number": "+912298765432",
                    "use_case": "test_case",
                    "agent_version": 2,
                    "schedule_time": "2025-01-22T08:14:57Z",
                    "options": {
                      "transcriptLanguage": "hi",
                      "allowedOverallInterruptions": "True",
                      "allowedInterruptionsInitially": "False",
                      "ttsLanguage": "hi",
                      "voiceId": "IvLWq57RKibBrqZGpQrC",
                      "speed": "2",
                      "transferNumber": "+912298765432",
                      "communicationMethod": "two_way",
                      "dtmfEnabled": "False",
                      "initialMessage": "Hi, ${name} how can I assist you today?",
                      "additionalContext": "The caller is asking about a refund request submitted yesterday."
                    },
                    "no_of_retries": 1,
                    "retry_after_in_hrs": 1,
                    "start_working_hour": "09:00",
                    "end_working_hour": "20:00",
                    "timezone": "Asia/Kolkata"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns error or success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "200 success": {
                    "summary": "200 - Workflow call details updated successfully",
                    "value": {
                      "responseCode": 200,
                      "message": "Workflow call details updated successfully",
                      "data": null
                    }
                  },
                  "400 error": {
                    "summary": "400 - Not in queue error",
                    "value": {
                      "responseCode": 400,
                      "message": "User call already placed, not found in queue",
                      "data": null
                    }
                  },
                  "401 error": {
                    "summary": "401 - Api key is missing error",
                    "value": {
                      "responseCode": 401,
                      "message": "Api key is missing",
                      "data": null
                    }
                  },
                  "404 error": {
                    "summary": "404 - Workflow not found error",
                    "value": {
                      "responseCode": 404,
                      "message": "Workflow not found",
                      "data": null
                    }
                  },
                  "500 error": {
                    "summary": "500 - Internal server error",
                    "value": {
                      "responseCode": 500,
                      "message": "Internal server error",
                      "data": null
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete call request from the call queue",
        "parameters": [
          {
            "name": "workflowId",
            "in": "path",
            "description": "Unique identifier of the workflow.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customer_number"
                ],
                "properties": {
                  "customer_number": {
                    "type": "string",
                    "description": "User's phone number. Must be a valid phone number with country code, with or without '+' prefix."
                  }
                }
              },
              "examples": {
                "ValidRequest": {
                  "summary": "Example of trigger workflow call",
                  "value": {
                    "customer_number": "+912298765432"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns error or success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "200 success": {
                    "summary": "200 - Workflow call details updated successfully",
                    "value": {
                      "responseCode": 200,
                      "message": "Workflow call details updated successfully",
                      "data": null
                    }
                  },
                  "400 error": {
                    "summary": "400 - Not in queue error",
                    "value": {
                      "responseCode": 400,
                      "message": "User call already placed, not found in queue",
                      "data": null
                    }
                  },
                  "401 error": {
                    "summary": "401 - Api key is missing error",
                    "value": {
                      "responseCode": 401,
                      "message": "Api key is missing",
                      "data": null
                    }
                  },
                  "404 error": {
                    "summary": "404 - Workflow not found error",
                    "value": {
                      "responseCode": 404,
                      "message": "Workflow not found",
                      "data": null
                    }
                  },
                  "500 error": {
                    "summary": "500 - Internal server error",
                    "value": {
                      "responseCode": 500,
                      "message": "Internal server error",
                      "data": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agent/blueprints": {
      "get": {
        "summary": "Retrieve agent blueprints",
        "description": "Retrieves all available agent blueprints and their default version configurations along with workflow mappings. This endpoint provides comprehensive information about voice agents including their full configuration, version details, and which workflows they are associated with.",
        "operationId": "getAgentBlueprints",
        "tags": [
          "Agents"
        ],
        "responses": {
          "200": {
            "description": "Agent blueprints retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentBlueprintsResponse"
                },
                "examples": {
                  "success": {
                    "summary": "200 - Agent blueprints retrieved successfully",
                    "value": {
                      "responseCode": 200,
                      "message": "Agent blueprints retrieved successfully!",
                      "data": {
                        "agents": [
                          {
                            "agentId": "customer_support_agent",
                            "config": {
                              "llmService": {
                                "provider": "openai",
                                "model": "gpt-4o-mini",
                                "temperature": 0.5
                              },
                              "sttService": {
                                "provider": "deepgram",
                                "model": "nova-2-general",
                                "language": "en-US",
                                "smartFormat": false,
                                "numerals": false,
                                "keywords": null
                              },
                              "ttsService": {
                                "provider": "elevenlabs",
                                "model": "eleven_flash_v2_5",
                                "language": "en-US",
                                "gender": "female",
                                "voiceName": "monika",
                                "customVoiceId": "",
                                "speed": 1.0,
                                "stability": 0.5,
                                "similarityBoost": 0.8,
                                "pitch": 1.0,
                                "volume": 1.0
                              },
                              "agentInstructions": {
                                "initialMessage": {
                                  "messageContent": "Hello! I'm your virtual assistant. How can I help you today?",
                                  "messageType": "say",
                                  "firstSpeaker": "assistant"
                                },
                                "systemContext": [
                                  {
                                    "system": "You are a helpful customer service agent for a telecommunications company."
                                  }
                                ],
                                "conversationalFlow": {
                                  "nodes": [
                                    {
                                      "id": "welcome",
                                      "type": "message",
                                      "data": {
                                        "message": "Welcome!"
                                      },
                                      "position": {
                                        "x": 0,
                                        "y": 0
                                      }
                                    }
                                  ],
                                  "edges": []
                                }
                              },
                              "callSettings": {
                                "dtmfEnabled": false,
                                "transferTo": "",
                                "transferDtmf": "",
                                "warmTransfer": false,
                                "sipRefer": false,
                                "backgroundAmbient": false,
                                "backgroundThinking": false,
                                "whisper": false,
                                "falseInterruptionTimer": 3,
                                "preemptiveGeneration": true
                              },
                              "pipelineSettings": {
                                "commMethod": "two_way",
                                "silenceTime": 8,
                                "silenceTurns": 2,
                                "knowledgeBaseId": "",
                                "maxDuration": 600
                              },
                              "turnManagement": {
                                "interruptionOverall": true,
                                "interruptionInitial": false,
                                "interruptionSensitivity": 2,
                                "agentResponsiveness": 4,
                                "agentBackchannel": {
                                  "enabled": true,
                                  "threshold": 0,
                                  "fillerWords": [],
                                  "probability": 1,
                                  "interruptions": true,
                                  "addToContext": false
                                }
                              },
                              "analyticsConfig": {
                                "enabled": true,
                                "provider": "openai",
                                "model": "gpt-4o-mini",
                                "instructions": null,
                                "queries": [
                                  {
                                    "name": "summary",
                                    "description": "Summary of discussion",
                                    "type": "text",
                                    "options": []
                                  }
                                ]
                              },
                              "functionSettings": {
                                "preCall": [],
                                "duringCall": ["end_call", "transfer_call"],
                                "postCall": []
                              },
                              "agentsList": [
                                {
                                  "transferTo": "billing_agent",
                                  "useBaseSettings": true,
                                  "agentVersion": "DEFAULT"
                                }
                              ],
                              "dynamicVariablesConfig": [
                                {
                                  "name": "customer_name",
                                  "description": "Customer's full name"
                                }
                              ]
                            },
                            "version": {
                              "name": "v0",
                              "description": "First version",
                              "number": 0
                            }
                          }
                        ],
                        "workflowList": [
                          {
                            "workflowId": "customer_support",
                            "agentId": "customer_support_agent"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - API key is missing or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "401 - API key missing",
                    "value": {
                      "responseCode": 401,
                      "message": "API key is missing",
                      "data": null
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "server_error": {
                    "summary": "500 - Internal server error",
                    "value": {
                      "responseCode": 500,
                      "message": "Internal server error",
                      "data": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DirectTriggerCall": {
        "type": "object",
        "required": [
          "phoneNumber",
          "agentName"
        ],
        "properties": {
          "phoneNumber": {
            "type": "string",
            "description": "User's phone number. Must be a valid phone number with country code, with or without '+' prefix."
          },
          "agentName": {
            "type": "string",
            "description": "Agent to be used for the call, find it in Agents sections in dashboard."
          },
          "agentVersion": {
            "$ref": "#/components/schemas/AgentVersion"
          },
          "metadata": {
            "type": "object",
            "description": "Customer's details to be used in the call, use them in agent initial and system prompt as ${variable_name} format. These will be replaced by actual value of the variables."
          },
          "channel": {
            "type": "string",
            "description": "Channel to be used for the call (SIP Outbound). If provided, number will be randomly picked from the configured channel."
          },
          "agentNumber": {
            "type": "string",
            "description": "Agent phone number used to place call. Default value will be any number set in communication channel section (SIP Outbound). Must be a valid phone number with country code, with or without '+' prefix."
          },
          "options": {
            "type": "object",
            "description": "Default values as defined in the Agents section in dashboard. Use this if you want to override those options. E.g. if you want to change the language, voice, initial prompt, etc.",
            "$ref": "#/components/schemas/VoiceAgentOptions"
          },
          "noOfRetries": {
            "type": "number",
            "description": "Number of retries if call failed if provided"
          },
          "retryAfterHours": {
            "type": "number",
            "description": "Retry at interval (in hrs) if provided"
          },
          "startWorkingHour": {
            "type": "string",
            "description": "24 hour format (HH:MM). If provided call made before start hours will rescheduled at start hour of the day."
          },
          "endWorkingHour": {
            "type": "string",
            "description": "24 hour format (HH:MM). If provided call made after end hours will rescheduled at start hour of next day."
          },
          "timezone": {
            "type": "string",
            "description": "Call between start working hour and end working hour in timezone if provided [Default: Asia/Kolkata]"
          },
          "callPriority": {
            "type": "number",
            "description": "Defines the urgency of the call on a scale of 1 to 100, where 1 is the highest priority and 100 is the lowest. Default is 10."
          },
          "callOnDate": {
            "type": "string",
            "description": "The date by which the call must be placed. If the call is not made on same day, it is marked as expired and will not trigger. Any valid date format is Any valid date format is “YYYY-MM-DD”."
          },
          "scheduleTime": {
            "type": "string",
            "description": "Schedule customer's call at a specific future time. Follow ISO date format (YYYY-MM-DDTHH:MM:SSZ)."
          }
        }
      },
      "WorkflowTriggerCall": {
        "type": "object",
        "required": [
          "customer_number"
        ],
        "properties": {
          "customer_number": {
            "type": "string",
            "description": "User's phone number. Must be a valid phone number with country code, with or without '+' prefix."
          },
          "customer_details": {
            "type": "object",
            "description": "User's details to be used in the call, use them in agent initial and system prompt as ${variable_name} format. These will be replaced by actual value of the variables."
          },
          "use_case": {
            "type": "string",
            "description": "Agent to be used for the call, find it in Agents sections in dashboard. Default value: agent selected in the workflow."
          },
          "agent_version": {
            "$ref": "#/components/schemas/AgentVersion"
          },
          "bot_number": {
            "type": "string",
            "description": "Voice agent phone number used to place call. Must be a valid phone number with country code, with or without '+' prefix. Default value: bot number selected in the workflow."
          },
          "schedule_time": {
            "type": "string",
            "description": "Schedule customer's call at a specific future time. Follow ISO date format (YYYY-MM-DDTHH:MM:SSZ). Default value: current time, to trigger the call immediately."
          },
          "options": {
            "type": "object",
            "description": "Default values as defined in the Agents section in dashboard. Use this if you want to override those options. E.g. if you want to change the language, voice, initial prompt, etc.",
            "$ref": "#/components/schemas/VoiceAgentOptions"
          },
          "no_of_retries": {
            "type": "number",
            "description": "Number of retries if call failed if provided"
          },
          "retry_after_in_hrs": {
            "type": "number",
            "description": "Retry at interval (in hrs) if provided"
          },
          "start_working_hour": {
            "type": "string",
            "description": "24 hour format (HH:MM). If provided call made before start hours will rescheduled at start hour of the day."
          },
          "end_working_hour": {
            "type": "string",
            "description": "24 hour format (HH:MM). If provided call made after end hours will rescheduled at start hour of next day."
          },
          "timezone": {
            "type": "string",
            "description": "Call between start working hour and end working hour in timezone if provided [Default: Asia/Kolkata]"
          },
          "call_priority": {
            "type": "number",
            "description": "Defines the urgency of the call on a scale of 1 to 100, where 1 is the highest priority and 100 is the lowest. Default is 10."
          },
          "call_on_date": {
            "type": "string",
            "description": "The date by which the call must be placed. If the call is not made on same day, it is marked as expired and will not trigger. Any valid date format is “YYYY-MM-DD”"
          }
        }
      },
      "VoiceAgentOptions": {
        "type": "object",
        "properties": {
          "transcriptLanguage": {
            "type": "string",
            "description": "The language used to capture and understand what the user says.",
            "enum": [
              "en-IN",
              "hi"
            ]
          },
          "ttsLanguage": {
            "type": "string",
            "description": "Default language of the voice agent used to speak with the user.",
            "enum": [
              "en",
              "hi"
            ],
            "example": "en"
          },
          "voiceId": {
            "type": "string",
            "description": "The specific voice if that the voice agent will use. You can also provide custom voice id other than the ones mentioned here. Recommended list of Indian voices below: \n M LEO ENG - 'TNHbwIMY5QmLqZdvjhNn'\n F MONIKA ENG - '2zRM7PkgwBPiau2jvVXc'\n F RIYA ENG - 'vYENaCJHl4vFKNDYPr8y'\n M LEO BOTH - 'IvLWq57RKibBrqZGpQrC'\n F MONIKA BOTH - '1qEiC6qsybMkmnNdVMbK'\n F RIYA BOTH - 'mActWQg9kibLro6Z2ouY'",
            "enum": [
              "TNHbwIMY5QmLqZdvjhNn",
              "2zRM7PkgwBPiau2jvVXc",
              "vYENaCJHl4vFKNDYPr8y",
              "IvLWq57RKibBrqZGpQrC",
              "1qEiC6qsybMkmnNdVMbK",
              "mActWQg9kibLro6Z2ouY",
              "mention any other custom voice id"
            ]
          },
          "initialMessage": {
            "type": "string",
            "description": "The initial greetings message. The dynamic variables (e.g. ${name}) will be replaced by actual value provided in customer_details or metadata."
          },
          "additionalContext": {
            "type": "string",
            "description": "Extra context provided to the voice agent (e.g. details that are unique to the target customer category, which is not mentioned in the system prompt). The dynamic variables (e.g. ${name}) will be replaced by actual value provided in customer_details or metadata."
          },
          "allowedOverallInterruptions": {
            "type": "string",
            "description": "Whether the voice agent should stop speaking upon user interruption during the entire conversation.",
            "enum": [
              "True",
              "False"
            ]
          },
          "allowedInterruptionsInitially": {
            "type": "string",
            "description": "Whether the voice agent should stop speaking upon user interruption while initial greetings message is playing.",
            "enum": [
              "True",
              "False"
            ]
          },
          "speed": {
            "type": "string",
            "description": "How fast or slow the voice agent should talk.",
            "enum": [
              "0",
              "1",
              "2",
              "3"
            ]
          },
          "transferNumber": {
            "type": "string",
            "description": "Human agent's phone number to transfer the call in case of escalations. Must be a valid phone number with country code, with or without '+' prefix."
          },
          "communicationMethod": {
            "type": "string",
            "description": "Whether the communication is two-way (inetractive conversation) or one-way (speak only the initial prompt and hang up).",
            "enum": [
              "two_way",
              "one_way"
            ]
          },
          "dtmfEnabled": {
            "type": "string",
            "description": "Whether the user can press buttons on their phone (like 'Press 1 for support') to interact with the agent.",
            "enum": [
              "True",
              "False"
            ]
          }
        }
      },
      "ApiResponse": {
        "type": "object",
        "required": [
          "responseCode",
          "message"
        ],
        "properties": {
          "responseCode": {
            "type": "integer",
            "description": "Always returns 200 value, with error or success response details in message."
          },
          "message": {
            "type": "string",
            "description": "Success or error message with description."
          },
          "data": {
            "nullable": true,
            "description": "Additional details if available."
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "AgentVersion": {
        "oneOf": [
          {
            "type": "integer",
            "minimum": 0,
            "description": "Specific version number of the agent (e.g., 1, 2)."
          },
          {
            "type": "string",
            "enum": [
              "default",
              "draft"
            ],
            "description": "Version tag: 'default' uses the currently published version, 'draft' uses the latest saved draft."
          }
        ],
        "description": "Determines which version of the agent to use for the call. Defaults to \"default\"."
      },
      "AgentBlueprintsResponse": {
        "type": "object",
        "required": [
          "responseCode",
          "message",
          "data"
        ],
        "properties": {
          "responseCode": {
            "type": "integer",
            "description": "HTTP status code indicating the result of the request.",
            "example": 200
          },
          "message": {
            "type": "string",
            "description": "Human-readable message describing the result of the request.",
            "example": "Agent blueprints retrieved successfully!"
          },
          "data": {
            "$ref": "#/components/schemas/AgentBlueprintsData"
          }
        }
      },
      "AgentBlueprintsData": {
        "type": "object",
        "required": [
          "agents",
          "workflowList"
        ],
        "properties": {
          "agents": {
            "type": "array",
            "description": "Array of agent configurations and metadata.",
            "items": {
              "$ref": "#/components/schemas/AgentBlueprint"
            }
          },
          "workflowList": {
            "type": "array",
            "description": "Array of workflow-to-agent mappings showing which workflows use which agents.",
            "items": {
              "$ref": "#/components/schemas/WorkflowMapping"
            }
          }
        }
      },
      "AgentBlueprint": {
        "type": "object",
        "required": [
          "agentId",
          "config",
          "version"
        ],
        "properties": {
          "agentId": {
            "type": "string",
            "description": "The human-readable unique identifier for the agent.",
            "example": "abandoned_checkout"
          },
          "config": {
            "type": "object",
            "description": "Complete configuration object for the agent including LLM, STT, TTS services, instructions, and operational settings.",
            "properties": {
              "llmService": {
                "type": "object",
                "description": "Language model service configuration for the agent.",
                "properties": {
                  "provider": {
                    "type": "string",
                    "description": "The LLM provider (e.g., 'openai', 'google', 'anthropic').",
                    "example": "openai"
                  },
                  "model": {
                    "type": "string",
                    "description": "The specific model to use.",
                    "example": "gpt-4o-mini"
                  },
                  "temperature": {
                    "type": "number",
                    "description": "Controls randomness in responses (0.0-1.0).",
                    "example": 0.5
                  }
                }
              },
              "sttService": {
                "type": "object",
                "description": "Speech-to-text service configuration for understanding user speech.",
                "properties": {
                  "provider": {
                    "type": "string",
                    "description": "The STT provider (e.g., 'deepgram', 'openai').",
                    "example": "deepgram"
                  },
                  "model": {
                    "type": "string",
                    "description": "The specific STT model to use.",
                    "example": "nova-2-general"
                  },
                  "language": {
                    "type": "string",
                    "description": "Language code for speech recognition.",
                    "example": "hi-IN"
                  },
                  "smartFormat": {
                    "type": "boolean",
                    "description": "Whether to enable smart formatting of numbers, dates, etc.",
                    "example": false
                  },
                  "numerals": {
                    "type": "boolean",
                    "description": "Whether to convert numerals to words.",
                    "example": false
                  },
                  "keywords": {
                    "type": "array",
                    "description": "Array of keywords to boost in speech recognition.",
                    "items": {
                      "type": "string"
                    },
                    "nullable": true,
                    "example": null
                  }
                }
              },
              "ttsService": {
                "type": "object",
                "description": "Text-to-speech service configuration for the agent's voice.",
                "properties": {
                  "provider": {
                    "type": "string",
                    "description": "The TTS provider (e.g., 'elevenlabs', 'openai').",
                    "example": "elevenlabs"
                  },
                  "model": {
                    "type": "string",
                    "description": "The specific TTS model to use.",
                    "example": "eleven_flash_v2_5"
                  },
                  "language": {
                    "type": "string",
                    "description": "Language code for the voice.",
                    "example": "en-IN"
                  },
                  "gender": {
                    "type": "string",
                    "description": "Voice gender preference.",
                    "example": "female"
                  },
                  "voiceName": {
                    "type": "string",
                    "description": "Name of the voice to use.",
                    "example": "monika"
                  },
                  "customVoiceId": {
                    "type": "string",
                    "description": "Custom voice ID if using a trained voice.",
                    "example": ""
                  },
                  "speed": {
                    "type": "number",
                    "description": "Speech speed multiplier.",
                    "example": 2
                  },
                  "stability": {
                    "type": "number",
                    "description": "Voice stability setting (0.0-1.0).",
                    "example": 0.5
                  },
                  "similarityBoost": {
                    "type": "number",
                    "description": "Voice similarity boost setting.",
                    "example": 0.8
                  },
                  "pitch": {
                    "type": "number",
                    "description": "Voice pitch setting.",
                    "example": 2
                  },
                  "volume": {
                    "type": "number",
                    "description": "Voice volume setting.",
                    "example": 2
                  }
                }
              },
              "agentInstructions": {
                "type": "object",
                "description": "Instructions and prompts that define the agent's behavior and personality.",
                "properties": {
                  "initialMessage": {
                    "type": "object",
                    "description": "The initial message the agent will say.",
                    "properties": {
                      "messageContent": {
                        "type": "string",
                        "description": "The content of the initial message.",
                        "example": "Hello, I am calling from Testing. How can I help you today?"
                      },
                      "messageType": {
                        "type": "string",
                        "description": "Type of message ('say' or 'prompt').",
                        "example": "say"
                      },
                      "firstSpeaker": {
                        "type": "string",
                        "description": "Who speaks first.",
                        "example": "assistant"
                      }
                    }
                  },
                  "systemContext": {
                    "type": "array",
                    "description": "Array of system context messages defining agent behavior.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "system": {
                          "type": "string",
                          "description": "System instruction or prompt.",
                          "example": "You are a helpful customer support agent."
                        }
                      }
                    }
                  },
                  "conversationalFlow": {
                    "type": "object",
                    "description": "Visual flow configuration for the agent's conversation logic.",
                    "properties": {
                      "nodes": {
                        "type": "array",
                        "description": "Array of conversation flow nodes.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Unique identifier for the node.",
                              "example": "begin"
                            },
                            "type": {
                              "type": "string",
                              "description": "Type of node (e.g., 'beginCallNode', 'conversationNode', 'endCallNode').",
                              "example": "beginCallNode"
                            },
                            "data": {
                              "type": "object",
                              "description": "Node-specific data and configuration.",
                              "example": {}
                            }
                          }
                        }
                      },
                      "edges": {
                        "type": "array",
                        "description": "Array of connections between nodes.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Unique identifier for the edge.",
                              "example": "edge123"
                            },
                            "source": {
                              "type": "string",
                              "description": "Source node ID.",
                              "example": "begin"
                            },
                            "target": {
                              "type": "string",
                              "description": "Target node ID.",
                              "example": "conversation"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "callSettings": {
                "type": "object",
                "description": "Call-related settings and configurations.",
                "properties": {
                  "dtmfEnabled": {
                    "type": "boolean",
                    "description": "Whether DTMF (touch-tone) input is enabled.",
                    "example": false
                  },
                  "transferTo": {
                    "type": "string",
                    "description": "Phone number to transfer calls to.",
                    "example": ""
                  },
                  "transferDtmf": {
                    "type": "string",
                    "description": "DTMF sequence for transfer.",
                    "example": ""
                  },
                  "warmTransfer": {
                    "type": "boolean",
                    "description": "Whether warm transfer is enabled.",
                    "example": false
                  },
                  "sipRefer": {
                    "type": "boolean",
                    "description": "Whether SIP refer is enabled.",
                    "example": false
                  },
                  "backgroundAmbient": {
                    "type": "boolean",
                    "description": "Whether background ambient sound is enabled.",
                    "example": false
                  },
                  "backgroundThinking": {
                    "type": "boolean",
                    "description": "Whether background thinking sound is enabled.",
                    "example": false
                  },
                  "whisper": {
                    "type": "boolean",
                    "description": "Whether whisper mode is enabled.",
                    "example": false
                  },
                  "falseInterruptionTimer": {
                    "type": "number",
                    "description": "Timer for false interruption detection in seconds.",
                    "example": 3
                  },
                  "preemptiveGeneration": {
                    "type": "boolean",
                    "description": "Whether preemptive response generation is enabled.",
                    "example": true
                  }
                }
              },
              "pipelineSettings": {
                "type": "object",
                "description": "Pipeline and processing settings.",
                "properties": {
                  "commMethod": {
                    "type": "string",
                    "description": "Communication method ('one_way' or 'two_way').",
                    "example": "two_way"
                  },
                  "silenceTime": {
                    "type": "number",
                    "description": "Silence detection threshold in seconds.",
                    "example": 8
                  },
                  "silenceTurns": {
                    "type": "number",
                    "description": "Number of silent turns before action.",
                    "example": 2
                  },
                  "knowledgeBaseId": {
                    "type": "string",
                    "description": "ID of the knowledge base to use.",
                    "example": ""
                  },
                  "maxDuration": {
                    "type": "number",
                    "description": "Maximum call duration in seconds.",
                    "example": 600
                  }
                }
              },
              "turnManagement": {
                "type": "object",
                "description": "Turn-taking and interruption management settings.",
                "properties": {
                  "interruptionOverall": {
                    "type": "boolean",
                    "description": "Whether interruption is enabled overall.",
                    "example": true
                  },
                  "interruptionInitial": {
                    "type": "boolean",
                    "description": "Whether interruption is enabled for initial message.",
                    "example": false
                  },
                  "interruptionSensitivity": {
                    "type": "number",
                    "description": "Interruption sensitivity level.",
                    "example": 2
                  },
                  "agentResponsiveness": {
                    "type": "number",
                    "description": "Agent responsiveness level.",
                    "example": 4
                  },
                  "agentBackchannel": {
                    "type": "object",
                    "description": "Backchannel response settings.",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "description": "Whether backchannel is enabled.",
                        "example": true
                      },
                      "threshold": {
                        "type": "number",
                        "description": "Backchannel activation threshold.",
                        "example": 0
                      },
                      "fillerWords": {
                        "type": "array",
                        "description": "Array of filler words for backchannel.",
                        "items": {
                          "type": "string"
                        },
                        "example": []
                      },
                      "probability": {
                        "type": "number",
                        "description": "Backchannel response probability.",
                        "example": 1
                      },
                      "interruptions": {
                        "type": "boolean",
                        "description": "Whether backchannel can interrupt.",
                        "example": true
                      },
                      "addToContext": {
                        "type": "boolean",
                        "description": "Whether backchannel is added to context.",
                        "example": false
                      }
                    }
                  }
                }
              },
              "analyticsConfig": {
                "type": "object",
                "description": "Analytics and monitoring configuration.",
                "properties": {
                  "enabled": {
                    "type": "boolean",
                    "description": "Whether analytics is enabled.",
                    "example": true
                  },
                  "provider": {
                    "type": "string",
                    "description": "Analytics provider.",
                    "example": "openai"
                  },
                  "model": {
                    "type": "string",
                    "description": "Analytics model to use.",
                    "example": "gpt-4o-mini"
                  },
                  "instructions": {
                    "type": "string",
                    "description": "Additional analytics instructions.",
                    "nullable": true,
                    "example": null
                  },
                  "queries": {
                    "type": "array",
                    "description": "Analytics queries to run.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Query name.",
                          "example": "summary"
                        },
                        "description": {
                          "type": "string",
                          "description": "Query description.",
                          "example": "Summary of discussion between agent and customer."
                        },
                        "type": {
                          "type": "string",
                          "description": "Query type.",
                          "example": "text"
                        },
                        "options": {
                          "type": "array",
                          "description": "Query options.",
                          "items": {},
                          "example": []
                        }
                      }
                    }
                  }
                }
              },
              "functionSettings": {
                "type": "object",
                "description": "Function and tool settings.",
                "properties": {
                  "preCall": {
                    "type": "array",
                    "description": "Functions available before call starts.",
                    "items": {
                      "type": "string"
                    },
                    "example": []
                  },
                  "duringCall": {
                    "type": "array",
                    "description": "Functions available during call.",
                    "items": {
                      "type": "string"
                    },
                    "example": ["end_call", "transfer_call"]
                  },
                  "postCall": {
                    "type": "array",
                    "description": "Functions available after call ends.",
                    "items": {
                      "type": "string"
                    },
                    "example": []
                  }
                }
              },
              "agentsList": {
                "type": "array",
                "description": "List of agent transfer configurations for this agent.",
                "items": {
                  "type": "object",
                  "description": "Agent transfer configuration.",
                  "properties": {
                    "transferTo": {
                      "type": "string",
                      "description": "Agent ID to transfer to.",
                      "example": "conv_test"
                    },
                    "useBaseSettings": {
                      "type": "boolean",
                      "description": "Whether to use base settings for transfer.",
                      "example": true
                    },
                    "agentVersion": {
                      "type": "string",
                      "description": "Version of the agent to transfer to.",
                      "example": "default"
                    }
                  }
                },
                "example": []
              },
              "dynamicVariablesConfig": {
                "type": "array",
                "description": "Configuration for dynamic variables that can be used in agent prompts.",
                "items": {
                  "type": "object",
                  "description": "Dynamic variable configuration.",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Variable name.",
                      "example": "customer_name"
                    },
                    "type": {
                      "type": "string",
                      "description": "Variable type.",
                      "example": "string"
                    },
                    "description": {
                      "type": "string",
                      "description": "Variable description.",
                      "example": "Customer's name for personalization"
                    }
                  }
                },
                "example": []
              }
            }
          },
          "version": {
            "$ref": "#/components/schemas/AgentVersionInfo"
          }
        }
      },
      "AgentVersionInfo": {
        "type": "object",
        "required": [
          "name",
          "number"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Human-readable name for this version of the agent.",
            "example": "v0"
          },
          "description": {
            "type": "string",
            "description": "Detailed description of this version's purpose or changes.",
            "example": "First version"
          },
          "number": {
            "type": "integer",
            "description": "Version number for this agent configuration.",
            "example": 0
          }
        }
      },
      "WorkflowMapping": {
        "type": "object",
        "required": [
          "workflowId",
          "agentId"
        ],
        "properties": {
          "workflowId": {
            "type": "string",
            "description": "Unique identifier for the workflow.",
            "example": "inbound_support"
          },
          "agentId": {
            "type": "string",
            "description": "ID of the agent assigned to this workflow.",
            "example": "SupportBot"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Authentication header containing API key from SubVerse dashboard."
      }
    }
  }
}